labs/AOS/.vscode
labs/AOS/build
labs/dac/_build/labtest1new/default
labs/adclab/build
labs/circular_buffer_uart/timer_buttons/_build/timer_buttons/default
labs/circular_buffer_uart/timer_buttons/_build/timer_buttons/default
labs/dac/.vscode
labs/dac/build
labs/dac/cmake/labtest1new/default
labs/dac/out
labs/dac2/build
labs/dac2/.vscode
labs/daclab lp9/build
labs/dualslop_timer
labs/dualslop_timer
labs/ext_clock/build
labs/labtest1/.vscode
labs/labtest1/_build/labtest1new/default
labs/labtest1/build
labs/labtest1/cmake/labtest1new/default
labs/labtest1/out
labs/labtest1new/.vscode
labs/labtest1new/_build/labtest1new/default
labs/labtest1new/cmake/labtest1new/default
labs/labtest2/.vscode
labs/labtest2/build
labs/newlabtest1/.vscode
labs/newlabtest1/_build/newlabtest1/default
labs/newlabtest1/cmake/newlabtest1/default
labs/adclab/MELODY_INTEGRATION_EXAMPLE.md
labs/adclab/MELODY_USAGE.md
